@import "styles/colors/colors";
.footer-bottom-container {
  font-size: 12px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  color: $footer;
  line-height: 30px;
  @media screen and (max-width:768px){
    display: block;
    width: 90%;
    line-height: 20px;
  }
  .right {
    text-align: center;
  }
  .left {
    text-align: center;
    @media screen and (max-width:768px){
      font-size: 11px;
    }
    @media screen and (max-width:320px){
      text-align: center;
    }
  }
}